* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}
body {
    font-family: 微软雅黑, 黑体, 苹果丽黑;
}
/*header start*/

.header {
    height: 69px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.other {
    width: 930px;
    height: 69px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 110px;
    height: 31px;
    margin-top: 18px;
}
.header h3 {
    height: 19px;
    font-size: 12px;
    margin-left: 0px;
    color: #5c595a;
}
.ren {
    height: 14px;
    margin: 0 auto;
    width: 12px;
    margin-left: 445px;
}
.search {
    float: right;
    height: 29px;
    border-width: 1px;
    border: 1px solid #cccccc;
    display: inline-block;
    margin-top: 25px;
    width: 183px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 147px;
}
.header h2 {
    font-size: 14px;
    font-weight: bold;
    color: #78b34a;
}
.ren,
.header h3,
.header h2 {
    margin-top: 30px;
    display: inline-block;
}
/*header end*/

/*mainnav start*/

.mainnav {
    height: 52px;
    margin: 0 auto;
    background-color: #3e3a3b;
    display: block;
}
.mainnav ul {
    margin: 0 auto;
    width: 725px;
    height: 52px;
}
.mainnav li {
    display: inline-block;
    width: 114px;
    padding-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    height: 52px;
}
.mainnav a:visited,
a:link {
    text-decoration: none;
    color: #ffffff;
}
.mainnav a {
    text-decoration: none;
    color: #FFFFFF;
}
.sub_nav {
    top: 120px;
    display: none;
    position: absolute;
    background: #f2f2f2;
    width: 161px;
    margin: 0 auto;
}

.mainnav ul li:hover a {
    border-bottom: 6px green solid;
}
.mainnav ul li:hover .sub_nav a {
    border-bottom: none;
}
.mainnav ul li:hover .sub_nav {
    display: block;
}
.sub_nav li {
    display: block;

}
/*mainnav end*/

/*banner start*/

.banner {
    height: 520px;
    background-color: #959595;
    background-image: url(images/banner.jpg);
}
/*banner end*/

/*content start*/

.content {
    background-color: #c8c8c8;
    height: 185px;
}
.content ul {
    width: 931px;
    margin: 0 auto;
    /*   background-color: red;*/
    list-style: none;
    height: 185px;
}
.content li {
    width: 301px;
    height: 140px;
    background-color: #ffffff;
    display: inline-block;
    margin: 22px auto;
}
.content img {
    width：301px； height: 140px;
}
/*content end*/

/*footer start*/

.footer {
    height: 190px;
    background-color: #dfdfdf;
}
.footer p {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
}
.footer img {
    margin: 0 auto;
    padding-top: 82px;
    width: 102px;
    height: 29px;
    display: block;
}
.footer p a {
    color: #333;
    border-right: 1px solid #333;
    padding-right: 5px;
}
.footer a:last-child {
    border-right: none;
}
.footer a:hover {
    color: #78b34a;
}
/*footer end*/
