* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}
body {
    font-family: 微软雅黑, 黑体, 苹果丽黑;
}
/*header start*/

.header {
    height: 69px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.other {
    width: 930px;
    height: 69px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 110px;
    height: 31px;
    margin-top: 18px;
}
.header h3 {
    height: 19px;
    font-size: 12px;
    margin-left: 0px;
    color: #5c595a;
}
.ren {
    height: 14px;
    margin: 0 auto;
    width: 12px;
    margin-left: 330px;
}
.search {
    height: 29px;
    border-width: 1px;
    border: 1px solid #cccccc;
    display: inline-block;
    margin-top: 25px;
    width: 183px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 147px;
}
.header h2 {
    font-size: 14px;
    font-weight: bold;
    color: #78b34a;
}
.ren,
.header h3,
.header h2 {
    margin-top: 30px;
    display: inline-block;
}
.trap {
    width: 110px;
    display: inline-block;
/*    padding-left: 130px;*/

}
.trap a:hover {
    color: #78b34a;
}
.trap li {
    display: inline-block;
    border-right: 1px #a8a6a6 solid;
    padding-right: 3px;
    height: 14px;
    padding-bottom: 4px;

}
.trap li:last-child {
    border-right: none;
}
.trap a {
    color: #999999;
    font-size: 12px;
}
.trap a:link,
a:visited {
    text-decoration: none;
}
/*header end*/

/*mainnav start*/

.mainnav {
    height: 52px;
    margin: 0 auto;
    background-color: #3e3a3b;
    display: block;
}
.mainnav ul {
    margin: 0 auto;
    width: 980px;
    height: 52px;
}
.mainnav li {
    display: inline-block;
    width: 155px;
    color: #ffffff;
    font-size: 13px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    height: 27px;
    padding-top: 19px;
}
.mainnav li:hover {
    border-bottom: 6px #78b34a solid;
    background-color: #272526;
}
.mainnav ul li:hover .sub_nav li {
    border-bottom: none;
    padding-bottom: 8px;
}
.mainnav ul li:hover a {
/*    background-color: red;*/
    padding: 0 auto;
    width: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 18px;
    padding-bottom: 12px;
}
.mainnav ul li:hover .sub_nav a {
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 19px;
    padding-bottom: 10px;
/*    background-color: green;*/
}
.mainnav ul li:hover .sub_nav li:hover {
    background-color: #78b34a;
}
.mainnav a:visited,
a:link {
    text-decoration: none;
    color: #ffffff;
}
.mainnav a {
    text-decoration: none;
    color: #FFFFFF;
}
.sub_nav a {
    color: #333;
}
.sub_nav {
    top: 120px;
    display: none;
    position: absolute;
    /*    background: #f2f2f2;*/
    width: 114px;
    margin: 0 auto;
}
.mainnav ul li:hover a {
    /*    border-bottom: 2px #78b34a solid;                                                      */
    border-width: 6px;
    /* color: #ffffff; */
}
.mainnav ul li:hover .sub_nav a {
    border-bottom: none;
    color: #666666;

/*     border-bottom: 1px #666 dashed;*/
}
/*
.mainnav ul li:hover .sub_nav a:hover {
    color:  #78b34a;
}
*/
.mainnav ul li:hover li {

    height: 20px;
}
.mainnav ul li:hover .sub_nav {
    display: block;
    width: 155px;
    height: auto;
    background-color: #f2f2f2;
/*        border-top: 6px #78b34a solid;*/
}
.sub_nav li {
    display: block;
}
/*mainnav end*/

/*banner start*/

.banner {
    height: 520px;
    background-color: #959595;
    background-image: url(images/banner.jpg);
}
/*banner end*/

/*content start*/

.content {
    background-color: #c8c8c8;
    height: 185px;
}
.content ul {
    width: 931px;
    margin: 0 auto;
    list-style: none;
    height: 185px;
}
.content li {
    width: 301px;
    height: 140px;
    background-color: #ffffff;
    display: inline-block;
    margin: 22px auto;
}
.content img {
    width：301px;
    height: 140px;
}
/*content end*/

/*footer start*/

.footer {
    height: 190px;
    background-color: #dfdfdf;
}
.footer p {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
}
.footer img {
    margin: 0 auto;
    padding-top: 82px;
    width: 102px;
    height: 29px;
    display: block;
}
.footer p a {
    color: #333;
    border-right: 1px solid #333;
    padding-right: 5px;
}
.footer a:last-child {
    border-right: none;
}
.footer a:hover {
    color: #78b34a;
}
/*footer end*/



/*this is winsun second page css start*/
/*banner_tp start*/
.banner_tp {
    height: 257px;
    background-image: url(images/banner_tp.jpg);
}
.banner_bottom {
    height: 52px;
    background-color: #e0dede;
}
.house {
    width: 930px;
    height: 52px;
    margin: 0 auto;
}
.house li {
    display: inline-block;
    margin-right: 6px;
    margin-top: 16px;
}
.house a {
    color: #818182;
    font-size: 14px;
}
.house a:hover {
    color: #78b34a;
}
.house img {
    width: 23px;
    height: 19px;
}
/*banner_tp end*/
/*content_tp start*/
.content_bg {
    background: #f2f2f2;
    margin: 0 auto;
    height: 586px;
    padding-top: 9px;
}
.content_tp {
    width: 930px;
    margin: 0 auto;
    margin-top: 9px;
}
.left {
    width: 203px;
    height: 319px;
    float: left;
    margin-right: 15px;
    display: inline-block;

}
.right {
    width: 670px;
    height: 184px;
    background: #f4f4f4;
    display: inline-block;
    border: #e6e6e6 2px solid;
}
.download  {
    width: 455px;
    height: 184px;
    margin: 0 auto;
    margin-top: 58px;
}
.download li {
    display: inline-block;
    border-right: 1px #b4b2b2 dashed;
    padding-right: 35px;
}
.download li:last-child {
    float: right;
    border-right: none;
    padding-right: 0px;
}
.list1 {
    width: 203px;
    height: 126px;
    background: #f9f9f9;
    margin-bottom: 20px;
}
.list1 li {
    padding-bottom: 13px;
    padding-top: 6px;
    border: 2px #e6e6e6 solid;
    width: 203px;
}
.list1 li a {
    font-size: 14px;
    color: #333;
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.list1 li a:hover {
    color: #a5a7a3;
}
.list1 li:hover {
    border-left: 4px #78b34a solid;
    background-color: #d6d6d6;
}
.list1 li:last-child {
    border-top: none;
}
.list1 li:first-child {
    border-bottom: none;
}
.list2 {
    width: 203px;
    height: 76px;
    background: #f9f9f9;
     margin-bottom: 20px;
}
.list3 {
    width: 203px;
    height: 76px;
    background: #f9f9f9;
}

/*content_tp end*/
/*this is winsun second page css end*/
